#Trident University
##CSC340 - Networking and Data Communications
###Taught by Dr. Kurt Diesch
###Authored by Philip Caputo

#Keplars' Law 
$Period = x^(1.5) / 100$

Example 1

What is the period of the Moon, according to Kepler's law?
![](https://universe-review.ca/I15-32-CurKepler.png)

Period:::: C x distance1.5

Here C is a constant approximately equal to 1/100. The period is in seconds and the distance in kilometers.

Solution

The Moon is located approximately 384,000 km above the Earth. The radius of the Earth is 6,378 km. Applying the formula, we get:
$(6,378+384,000)^(1.5) / 100 = 2,439,090 seconds$

In [ ]:
distance = 384000+6378
exponential = distance**1.5
reduce_100 = exponential / 100
reduce_100

2439090.9910925864

#Format string with commas & only 2 decimal digits

In [ ]:
'{0:,.2f}'.format(reduce_100) + ' seconds'

'2,439,090.99 seconds'

In [ ]:
%%HTML
<hr>

#Per the assignment: 
Found data @ https://www.n2yo.com/?s=39077
*   Satellite ID: 39077
*   kilometers: 1,420

$$period = (1420+6378)^(1.5) /100$$

In [ ]:
sat_km = 1420
earth_radius = 6378
distance = sat_km+earth_radius
distance

7798

In [ ]:
#continuing with next step:raising to power
EXPONENT = 1.5
exponential = distance**EXPONENT
exponential

688612.4117324636

In [ ]:
#reduce by 100
reduce_100 = exponential / 100
reduce_100

6886.124117324636

##We take this to be the number in seconds:

In [ ]:
#formatting
'{0:,.2f}'.format(reduce_100)+' seconds'

'6,886.12 seconds'

##Well that's some number of seconds huh?  Let's see if we can't reduce that down to something we can recognize.

In [ ]:
# 60 seconds are in every minute so lets divide by 60
minutes = reduce_100 / 60
minutes

114.76873528874394

In [ ]:
#We know that there are 60 minutes in every hour
hours = minutes / 60
hours

1.912812254812399

##Verify our logic with an assert statement.  If there are any erros something will be displayed as to what went wrong, otherwise no output is good output.

In [ ]:
assert hours*60*60 == reduce_100

##From the [website](https://www.n2yo.com/?s=39077) I was able to find that it says there is an element on their page that says period with a value of 115m - meaning minute I'm sure.

In [ ]:
#Our calculation was
minutes

114.76873528874394